# gitignore file
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.log
*.pyc
.molecule
.cache
.pytest_cache
src/.env
docker/.env
src/monitoring/.git/
src/search_engine_crawler/.git/
src/search_engine_ui/.git/
src/search_engine_deploy/.git/
