cloud_id                 = "yourcloudid"
folder_id                = "yourfolderid"
zone                     = "ru-central1-a"
public_key_path          = "publickey/path"
image_id                 = "imageidfork8snode"
subnet_id                = "yoursubnetid"
service_account_key_file = "ycservicekeypath"
private_key_path         = "privatekey/path"
k8s_account_id           = "k8sserviceaccountid"
network_id               = "networkid"
dns_account              = "example@example.com"
dns_password             = "dnsaccountpass"
project_domain           = "project.example.com"
regru_main		 = "example.com"
public_key_path_ed       = "publickey_ed/path"
automation_token         = "automationtokenput"
docker_user              = "somelogin"
docker_pass              = "somepassword"
project_group            = "projectgroup"
project_email            = "gitlabissueremail"
telegramm_bot_token      = "sometelegrammtoken"
telegram_chat_id         = "somechatid"
nodes                    = "2"
